.contact-button{
    background-color: #c2626f;
    color: white;
    font-size: 1.3em;
    line-height: 1.4em;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}
.contact-button:hover{
    background-color: #85454e;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}
.tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.card-header{
    color:  #c2626f;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.card-body{
    color: black;
    min-height: fit-content;
}
