<div class="wrapper">
    <div class="page-header" style="height: fit-content; padding-bottom: 20px;">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/backgroundsmall.jpg');">
        </div>
        <div class="container">
            <div class="landing-container">
                <img class="logo-img width-logo" src="assets/img/pp.jpg">
                <h3>Full Stack Engineer</h3>
                 <span>Bonjour, je suis <b>Jarmak.</b><br>
                     <b>Full Stack Engineer</b> avec des années d'expérience pratique dans la conception, l'analyse et le développement d'applications et de solutions utilisant une gamme de technologies et de langages de programmation.<br>
                     Cherche à tirer parti d'une vaste expérience de développement et d'une expertise technique pratique dans un rôle stimulant en tant que Full Stack Engineer.<br>
                     Je suis actuellement basé à <b>Bruxelles, Belgique</b> mais ouvert pour des missions à distance.
                </span>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="text-center">
                <h3>Skills:</h3>
                <div class="tags-container" style="margin-top: 15px;">
                    <span class="badge badge-danger">Angular</span>
                    <span class="badge badge-success">Spring Boot</span>
                    <span class="badge badge-info">Java</span>
                    <span class="badge badge-warning">Python</span>
                    <span class="badge badge-success">MongoDB</span>
                    <span class="badge badge-info">Oracle</span>
                    <span class="badge badge-default">SQL</span>
                    <span class="badge badge-warning">Gradle</span>
                    <span class="badge badge-info">Maven</span>

                    <span class="badge badge-warning">J2EE</span>
                    <span class="badge badge-info">Docker</span>
                    <span class="badge badge-primary">Kibana</span>
                    <span class="badge badge-warning">Big-data</span>
                    <span class="badge badge-default">Intellij</span>
                    <span class="badge badge-warning">Tomcat</span>
                    <span class="badge badge-info">Linux</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="text-center">
                <h3>Experiences:</h3>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>SPF Finances</b> January 2023 – Present
                </div>
                <div class="card-body">
                    Responsible for the development of new features for a paperless customs management platform.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>European Central Bank</b> July 2022 – December 2022
                </div>
                <div class="card-body">
                    Implementing new features to a data submission platform for central banks around Europe. My role is
                    a Full-Stack developer in Spring Boot, Angular and Oracle.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>Roularta Media Group</b> October 2021 – July 2022
                </div>
                <div class="card-body">
                    Responsible for several applications in Angular and Spring Boot, mainly e-commerce platforms.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>Bisnode Belgium</b> October 2019 – October 2021
                </div>
                <div class="card-body">

                    Responsible for an automated data delivery tool, implemented using Angular, MySQL, MariaDB, MongoDB
                    databases and multiple Java Spring Boot microservices. For automated testing, Mockito, Spock and
                    SpringTest. For CI, Bamboo and Jenkins.

                    Data processing using Python.

                    Linux server management for deploying applications and programming bash/python scripts for various
                    automated tasks.

                    Set up Prometheus & Grafana for application performance monitoring. </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>QA Engineer</b> Feb 2019 – July 2019
                </div>
                <div class="card-body">
                    Programming automated tests using the Selenium framework for a large media management platform.
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center">
        <div class="container">
            <!-- <h3>Contact Info:</h3> -->
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div style="display: flex;">
                        <a class="contact-button" href="mailto:contact@jarmak.tech" target="_blank">ENVOYEZ MOI UN EMAIL</a>
                    </div>
                    <!-- <div>
                        <i class="now-ui-icons tech_mobile"></i>
                        <p>+32 4 66 55 09 35</p>
                    </div>
                    <div>
                        <i class="now-ui-icons shopping_shop"></i>
                        <p>Boulevard de la Revision 94<br>
                            Anderlecht, Brussels<br>
                        </p>
                        <p>Monday - Saturday<br>
                            9am - 6pm</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="margin-bottom: 40px">
        <div class="container">
            <div class="text-center">
                <h3>Links:</h3>
                <app-link-list></app-link-list>
            </div>
        </div>
    </div>
</div>
