<div class="page-container">
    <div class="text-center link-grid">
            <a class="link-box" href="https://www.linkedin.com/in/mjarmak" target="_blank">
                <span style="width: 100%; margin: unset;" class="text-center">Linkedin</span>
            </a>
            <a class="link-box" href="https://github.com/mjarmak" target="_blank">
                <span style="width: 100%; margin: unset;" class="text-center">Github</span>
            </a>
            <a class="link-box" href="www.instagram.com/mjarmak" target="_blank">
                <span style="width: 100%; margin: unset;" class="text-center">Instagram</span>
            </a>
            <a class="link-box" href="https://www.youtube.com/channel/UChpZPFMIFFfcmFsjWxTF6wg" target="_blank">
                <span style="width: 100%; margin: unset;" class="text-center">Youtube</span>
            </a>
    </div>
</div>
