/*           badges             */
.badge{
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: $font-size-mini;
    line-height: 12px;
    background-color: $transparent-bg;
    margin-bottom: 5px;
    color: $white-color;
    border-radius: $border-radius-extreme;
    outline: unset;

    &:hover,
    &:focus{
      text-decoration: none;
    }

}
.badge-icon{
    padding: 0.4em 0.55em;
    i{
       font-size: 0.8em;
    }
}
.badge-default{
    background-color: #7731ce;
}
.badge-primary{
    background-color: #1cafaf;
}
.badge-info{
    background-color: #223dad;
}
.badge-success{
    background-color: #69c932;
}
.badge-warning{
    background-color: #9a1f97;
}
.badge-danger{
    background-color: #a12828;
}
.badge-neutral{
    background-color: #8a6721;
}
